@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

::-webkit-scrollbar {
  width: 0;
  height: 0;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #7a8286;
}

::-webkit-scrollbar-thumb:hover {
  background: #585c5e;
}
